services:
  postgres:
    image: postgres:17
    container_name: local-postgres-docker
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test:
        [
          'CMD-SHELL',
          "psql -U ${POSTGRES_USER} -d ${POSTGRES_DB} -c 'SELECT 1'",
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: notes-api
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    ports:
      - '3000:3000'
